* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*More perspective*/
    perspective: 1000px;
}

.container {
    /*background: lightblue;*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /*Gives text a 3D look*/
    transform-style: preserve-3d;
    /*background: lightcoral;*/
    min-height: 80vh;
    width: 35rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 0rem 5rem;
    /* transition: 0.5s ease; */
}

.sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sneaker img {
    z-index: 2;
    width: 20rem;
    transition: all 0.65s ease;
}

.circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(to right, RGBA(202, 62, 77, 1), RGBA(190, 190, 190, 1));
    position: absolute;
    border-radius: 50%;
}

.informations h1 {
    font-size: 3rem;
    transition: all 0.65s ease;
}

.informations h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: slategray;
    font-weight: lighter;
    text-align: justify;
    transition: all 0.65s ease;
}

.sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.65s ease;
}

.sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: slategray;
}

button.active {
    background: slategray;
    color: white;
}

.purchase {
    margin-top: 3rem;
    transition: all 0.65s ease;
}

.purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: #CA3E4D;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}